.Content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Content .Message {
  position: relative;
  max-width: 600px;
  padding-right: 5%;
}

.Content .Message h2 {
  color: #544646;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.Content .Message p {
  color: #a68069;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 500;
}

.Content .Response {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}